@using TaskManager.Helpers
@model TaskManager.Models.LoginViewModel
@{
    ViewBag.Title = "Вход в систему";
    Layout = "~/Views/RootLayout.cshtml";
}
<div class="center-form">
    <h3>Вход в систему</h3>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        @Html.TextBoxGroupFor(x => x.UserName, "Логин", "loginId", "Логин")
        
        @Html.PasswordGroupFor(x => x.Password, "Пароль", "passId", "Пароль")
        
        <div class="checkbox">
            @Html.CheckBoxFor(x => x.RememberMe)
            @Html.LabelFor(x => x.RememberMe)

        </div>
        <div style="text-align: center">
            <p>
                <button type="submit" class="btn btn-primary">Вход</button>
            </p>
            @Html.ActionLink("Зарегистрироваться", "Register")
        </div>
    }
</div>
