    @using TaskManager.Helpers
@model TaskManager.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/RootLayout.cshtml";
}


<div class="center-form" style="width: 380px">
    <h3>Регистрация нового пользователя</h3>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.TextBoxGroupFor(x => x.UserName, "Логин", "loginId", "ivanov")
        @Html.TextBoxGroupFor(x => x.UserFullName, "Ф.И.О.", "userNameId", "Иванов И.И.")
        @Html.PasswordGroupFor(x => x.Password, "Пароль", "passwordId", "Пароль")
        <div style="text-align: center">
            <p>
                <button type="submit" class="btn btn-primary">Создать</button>
            </p>
        </div>
    }
</div>